html, body {
  width: 100%;
  overflow-x: hidden;
}

.icon-section-header {
  background-image: url(../../assets/icons/tabmarks.svg);
  background-size: contain;
}

.panel-list-item {
  white-space: nowrap;
}
